{# src/Dahouet/MainBundle/Resources/views/Main/connecte.html.twig #}

    {% if connexion == 1 %}
        {# Si le propriétaire est connecté, on lui dit bonjour #}
        <h3>Vous êtes connecté</h3>
        <form action='{{ path('Deconnexion') }}' method='post' name='deconnect'>
            <p>Bonjour {{ proprietaire.nommbr }}</p>
            <input type='submit' value='Déconnexion'/>
        </form>
    {% else  %}
        {# Sinon on lui propose de se connecter via le formulaire #}
        <h3>Connexion</h3>
        <form method="post" action="{{ path('Connexion') }}" name='connect'>
	        <input type="text" name="idmbr" value="500" />
	        <input type="password" name="pwmbr" />
	        <input type="submit" value="Valider" />
   		 </form>
    {% endif %}
