{# src/SYMFONYDahouet/RegatesBundle/Resources/views/Regates/inscription.html.twig #}

{% extends "SYMFONYDahouetRegatesBundle::layout.html.twig" %}

{% block section %}
    <section>
    <form class="article" name="inscription" method="post" action="Traitementinscript">

    </section>
{% endblock %}
