{# src/Dahouet/MainBundle/Resources/views/Main/loginErrone.html.twig #}

{% extends "DahouetMainBundle:Main:index.html.twig" %}

	{% block section %}
        	<section>
	            <div class="article">
	                <h1>Attention!</h1>
	                <p>Votre identifiant ou votre mot de passe est errone. Je vous invite à recommencer.</p>
	            </div>
	         </section>
    {% endblock %}

