{# src/Dahouet/MainBundle/Resources/views/Main/loginObligatoitre.html.twig #}

{% extends "DahouetMainBundle:Main:index.html.twig" %}

	{% block section %}
        	<section>
	            <div class="article">
	                <h1>Attention!</h1>
	                <p>Pour vous inscrire à une régate vous devez inperativement être connecté.
	                 	Pour ce faire reportez vous à la fenêtre de "connexion" ci-contre.</p>
	            </div>
	         </section>
    {% endblock %}

