{#src/Dahouet/MainBundle/Resources/views/Main/regate_by_numreg.html.twig#}
{% for regate in regates %}
{# 			{{ include "DahouetMainBundle:Main:regate_by_numreg.html.twig", {'regate': regate} }}#}
			<li><a href="{{ path('SelectionVoilier_by_numreg', { 'numReg':  regate.NUMREG  }) }}" name="reg2" class="navig">{{ regate.LIBREG }}</a></li>
{% endfor %}
			
