<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}YCVA{% endblock %}</title>
        {% block stylesheets %}
        	 <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    	<div class="container">
	    	<header>
	    		<img alt="banniere" src="{{ asset('images/ImageTitre.png') }}">
	    	
		    	<nav id="navbar">
				  <ul id="menu">
				    <li><a id= "accueil" class= "menu-item-link" href="#"><span class="chevron bottom"></span><strong>Accueil</strong></a>
				    	<ul class="sous-menu">
				    		<li class= "sous-menu-item-box"><a class= "sous-menu-item-link" href="#">Présentation des régates</a></li>
				    	</ul>
				    </li>
				    <li><a class= "menu-item-link" href="#"><span class="chevron bottom"></span><strong>Challenges et régates</strong></a>
				    	<ul class="sous-menu">
						    <li><a class= "sous-menu-item-link" href="#">Inscription</a></li>
						    	<ul class="sous-menu2">
						    		{% block listRegate %}
									{% endblock %}
						    	</ul>
						    <li><a class= "sous-menu-item-link" href="#">Résultats</a></li>
						    <li><a class= "sous-menu-item-link" href="#">Archives</a></li>
				    	</ul>
				    </li>
				    <li><a class= "menu-item-link" href="#"><strong>Partenaires</strong></a></li>
				    <li><a class= "menu-item-link" href="#"><strong>Télécharger notre plaquette</strong></a></li>
				  </ul>
				</nav>
			</header>
			<div class="content">
	                {% block content %}
	                    {% block section %}{% endblock %}
	                    {% block aside %}{% endblock %}
	                {% endblock %}
	            </div>
	        <footer id= "foot">
	        	{% block footer %}
	        		<div id= "bandeau"></div>
	                <div id="copyright">
	                	<a id= "retour" href="#">Retour en Haut</a>
	                    <p>Copyright © 2015 DL</p>
	                    <ul id= "mention">
	                    	<li><p>-</p></li>
	                    	<li><a href= "#">Mentions legales</a></li>
	                    	<li><p>-</p></li>
	                    	<li><a href= "#">Contact</a></li>
	                    	<li><p>-</p></li>
	                    	<li><a href= "#">Accessibilité</a></li>
	                    	<li><p>-</p></li>
	                    </ul>
	                </div>
	            {% endblock %}
	         </footer>
		</div>
    </body>
</html>
